<h1> vista de inicio</h1>

<section>
  <div class="card" style="width: 18rem;">
    <img src="{{products.photo}}" class="card-img-top" alt="{{products.photo}}" />
    <div class="card-body">
      <h5 class="card-title">{{products.title}}</h5>
      <p class="card-text">USD{{products.price}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
<script src="./index.js"></script>